<div class="row">
	<div id="admininterface" class="span6 offset3">
		<h2>Server Admin Panel</h2>
		<hr>
		<p>The server is currently {{status}}.</p>
		{{#running}}
			<a href="/stop" class="btn btn-danger">Click to stop the server.</a>
		{{/running}}
		{{^running}}
			<a href="/start" class="btn btn-success">Click to start the server</a>
		{{/running}}
		
	</div>
</div>
